.body{

  background-color:lightblue;

}

html,body,#root{
height:100%;
width:100%;
margin:0;
padding:0;

}

.box{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100%;
  width:100%;
  background-color:brown;
  flex-direction:column;

}

.area{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  height:40%;
  width:40%;
  background-color:yellow;
  border:5px solid white; 
}

.area:hover{

  background:green;
  cursor:pointer;
}

.but{
  height:7%;
  width:9%;
  border-radius:30px;
  background-color:green;
}


.area2{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  height:40%;
  width:40%;
  background-color:red;
  border:5px solid white; 
}
.area2:hover{

  background:lightblue;
  cursor:pointer;
}

